{{ define "schemaSerializer" }}{{/* switches to the appropriate serializer for any given type */}}
  {{- if and .IsSubType (not .HasBaseType) }}
    {{ template "hasDiscriminated" . }}
  {{- else if .IsTuple }}
    {{ template "tupleSerializer" . }}
  {{- else if .HasBaseType }}
    {{ template "hasDiscriminated" . }}
  {{- else if .IsAdditionalProperties }}
    {{ template "additionalProperties" . }}
  {{- else if and (gt (len .AllOf) 0) (not .IsSubType ) }}
    {{ template "allOf" . }}
  {{- else if and .IsComplexObject .StrictAdditionalProperties }}
    {{ template "noAdditionalProperties" . }}
  {{- end }}
{{- end }}
