{{/* serverOperationTarget is where the handler section writes what serverOperation renders. */}}
{{ define "serverOperationTarget" }}{{ if .UseTags }}{{ joinFilePath .Target (toPackagePath .ServerPackage) (toPackagePath .APIPackage) (toPackagePath .Package) }}{{ else }}{{ joinFilePath .Target (toPackagePath .ServerPackage) (toPackagePath .Package) }}{{ end }}{{ end }}

{{/* serverOperationFileName is the name of the file it writes. */}}
{{ define "serverOperationFileName" }}{{ (snakize (pascalize .Name)) }}.go{{ end }}
