{{/* modelTarget is where the definition section writes what model renders. */}}
{{ define "modelTarget" }}{{ joinFilePath .Target (toPackagePath .ModelPackage) }}{{ end }}

{{/* modelFileName is the name of the file it writes. */}}
{{ define "modelFileName" }}{{ (snakize (pascalize .Name)) }}.go{{ end }}
